*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.btn {
  width: max-content;
  padding: 0.9rem 2rem;
  border-radius: 5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: unset;
  background-color: unset;
  color: #ffffffcf;
}

.green-gradient {
  background-image: linear-gradient(to right, #90e062, #00d9a6);
  box-shadow: 6px 8px 60px -5px #9bffd0;
}

.black-gradient {
  background-image: linear-gradient(to right, #444444, #050505);
  box-shadow: 6px 8px 60px -5px #333333;
}

h2::after {
  content: "";
  display: block;
  margin-top: 1.5rem;
  height: 5px;
  width: 15%;
  border-radius: 5rem;
  background-image: linear-gradient(to right, #90e062, #00d9a6);
}
